.quoraBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    max-width: 700px;
}

.quoraBox:hover {
    border: 1px solid rgb(58, 58, 58);
}

.quoraBox__info {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.quoraBox__quora {
    color: rgb(101, 101, 101);
    font-weight: bold;
    margin-left: 10px;
    font-size: large;
}

.quoraBox__quora {
    display: flex;
    margin-top: 8px;
}